{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off",
    "max-len": "off"    
  }
}
