{
  "extends": "@folio/eslint-config-stripes",
  "parser": "babel-eslint",
  "overrides": [
    {
      "files": [ "src/**/tests/*", "test/**/*" ],
      "rules": { 
        "func-names": "off",
        "no-unused-expressions": "off",
        "max-len": "off",
        "one-var": "off"
      }
    }
  ]
}
