{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": "2017",
  },
  "settings": {
    "react": {
      "version": "15.6.1"
    },
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off",
    "max-len": "off",
    "no-restricted-syntax": ["error", "LabeledStatement", "WithStatement"],
    "no-unused-vars": [ 1, { argsIgnorePattern: "^_" } ],
    "curly": "off",
    "no-plusplus": "off",
    "no-continue": "off",
    "jsx-a11y/href-no-hash": "off"
  }
}
