.DS_Store
*.swp
*.swo
node_modules
!test/webpack/node_modules/@folio/app2/node_modules/
!test/webpack/node_modules/
npm-debug.log
static
README.html
OVERVIEW.html
yarn.lock
yarn-error.log
artifacts
dist
junit.xml
