{
  "extends": "stylelint-config-standard",

  "rules": {
    "alpha-value-notation": null,
    "color-function-notation": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "function-no-unknown": null,
    "import-notation": null,
    "media-feature-range-notation": null,
    "no-descending-specificity": null,
    "selector-class-pattern": null,
    "value-keyword-case": null
  }
}
