/**
 * System Skeleton
 */

@import "@folio/stripes-components/lib/variables";

:root {
  --skeleton-bg: rgba(0, 0, 0, 0.06);
}

.skeleton {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/**
 * Generic
 */
.skeletonBar {
  height: 16px;
  width: 100px;
  background-color: var(--skeleton-bg);
  flex-shrink: 0;

  &.marginBottom {
    margin-bottom: 15px;
  }

  &.marginLeft {
    margin-left: 30px;
  }
}

.skeletonAppIcon {
  height: 24px;
  width: 24px;
  margin: 0 7px;
  border-radius: 6px;
  background-color: var(--skeleton-bg);
}

.skeletonCircle {
  height: 24px;
  width: 24px;
  margin: 0 7px;
  border-radius: 999px;
  background-color: var(--skeleton-bg);
}

.skeletonDivider {
  width: 1px;
  background-color: var(--color-border-p2);
  height: 24px;
  margin: 0 7px;
}

.randomSkeletonBarWidths {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  & .skeletonBar {
    width: 80%;

    &:nth-child(odd) {
      width: 70%;
    }
  }
}

/**
 * Header
 */
.skeletonHeader,
.skeletonHeaderStart,
.skeletonHeaderEnd {
  display: flex;
  align-items: center;
}

.skeletonHeader {
  padding: 0 8px;
  height: 43px;
  background-color: var(--color-fill);
  border-bottom: 1px solid var(--color-border-p2);
  justify-content: space-between;
}

/**
 * Panes
 */
.skeletonPaneSet {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.skeletonPane {
  border-right: 1px solid var(--color-border-p2);
  height: 100%;
  flex: auto;
  flex-shrink: 0;
}

.skeletonPane1 {
  flex-basis: 0;
}

.skeletonPane2 {
  flex-basis: 30%;
}

.skeletonPane3 {
  flex-basis: 20%;
}

.skeletonPaneHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  min-height: 44px;
  border-bottom: 1px solid var(--color-border-p2);

  & .skeletonBar {
    width: 40%;
  }
}

.skeletonPaneContent {
  padding: 15px;
  overflow: hidden;
}

@media (--mediumDown) {
  .hideOnSmallScreens {
    display: none;
  }
}
