@import "@folio/stripes-components/lib/variables.css";

.logo {
  max-width: 460px;
  margin: -10% auto 30px;
  text-align: center;

  & img {
    max-width: 160px;
    max-height: 160px;
  }
}

@media (max-height: 440px) {
  .logo {
    margin-top: 0;
  }
}

@media(--medium-up){
  .logo {
    margin-bottom: 45px;
    margin-top: 0;

    & img {
      max-height: 210px;
      max-width: 210px;
    }
  }
}
