@import '@folio/stripes-components/lib/variables.css';

.navGroup {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  align-content: space-between;
  margin: 0;
}

@media (--mediumDown) {
  .navGroup {
    &.hideMed {
      display: none;
    }
  }
}
