/**
 * My profile
 */

@import "@folio/stripes-components/lib/variables.css";

/* Logged in as */
.loggedInAs {
  color: var(--secondary);
}

/* Divider */
.divider {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 0 0 1px;
}
