@import '@folio/stripes-components/lib/variables.css';

.DropdownMenu {
  position: absolute;
  top: 105%;
  right: 0;
  z-index: 1002;
  display: none;
  float: left;
  padding: 5px 8px;
  margin: 6px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

  & ul {
    list-style: none;
    padding: 0;
  }
}

@media (--mediumDown) {
  .DropdownMenu {
    min-width: 29.5rem;
  }
}
