@import '@folio/stripes-components/lib/variables.css';

.DropdownMenu {
  z-index: 1002;
  padding: 5px 15px;
  margin: 6px 0 0;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  pointer-events: all;

  & ul {
    list-style: none;
    padding: 0;
  }
}

@media (--medium-down) {
  .DropdownMenu {
    min-width: 29.5rem;
  }
}
