/**
 * AppList -> ResizeContainer
 */

.resizeContainerWrapper {
  flex: 1;
  display: flex;
  min-width: 0;
  opacity: 0;
  transition-delay: 0.15s;
  transition: opacity 0.2s;

  &.ready {
    opacity: 1;
  }
}

.resizeContainerInner {
  overflow: hidden;
  flex: 1;
}
