/**
 * AppList -> ResizeContainer
 */

.resizeContainerWrapper {
  flex: 1;
  display: flex;
  min-width: 0;
  visibility: hidden;
  
  &.ready {
    visibility: visible;
  }
}

.resizeContainerInner {
  overflow: hidden;
  flex: 1;
}
