:root{
  --primary: #106c9e;
  --inputHeight: 2rem;
}

.root{
  margin: auto;
  width: 960px;
}

.label{
  font-size: .9rem;
  margin-left: 1rem;
}

.button{
  background-color: var(--primary);
  border: 1px solid var(--primary);
  padding: 5px 8px;
  height: var(--inputHeight);
  margin: 0 1rem;
  appearance: none;
  color: #fff;
  font-size: .9rem;
}

.textInput{
  height: var(--inputHeight);
  padding: 0 4px;
}