@import '@folio/stripes-components/lib/variables.css';

.navDivider {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  height: 24px;
  margin: 0 5px;
}

@media (--mediumDown) {
  .hideMed {
    display: none;
  }
}
