@import '@folio/stripes-components/lib/variables.css';

.notificationMenu {
  height: 250px;
  min-width: 440px;

  & a {
    color: #444;

    &:hover {
      background-color: color(var(--bgHover) tint(20%));
      text-decoration: none;
    }
  }
}
