/**
 * Current App
 */

.currentApp {
  padding: 0 5px;
  height: 44px;
  outline: 0;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 1);

  &::-moz-focus-inner {
    border: 0;
  }
}

/**
 * Badge
 */
.badge {
  font-size: 10px;
  position: absolute;
  top: 0;
  right: -1px;
  z-index: 5;
}

.icon {
  height: 24px;
  margin: 0 4px;

  & img,
  & svg {
    height: 24px;
    width: 24px;
  }

  & svg {
    fill: #999;
  }
}
