.currentAppDropdownCaret {
  padding: 0 2px;
}

.currentAppGroupSegment {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.currentAppGroupContainer {
  display: flex;
}

.displayNone {
  display: none;
}
