@import "@folio/stripes-components/lib/variables.css";

.wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 940px;
  min-height: 330px;
  margin: 12vh 2rem 0;
}

.form {
  width: 100%;
  outline: 0;
  text-align: center;
}

.formGroup {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.linksWrapper,
.authErrorsWrapper {
  margin-top: 1rem;
}

input.input {
  height: 44px;
  padding: 8px;
  font-size: var(--font-size-medium);
}

button.submitButton {
  height: 44px;
  max-height: 100%;
  margin-top: 1.5rem;
  font-size: var(--font-size-medium);
}

.link {
  display: block;
  width: 100%;
  font-size: var(--font-size-large);
  font-weight: var(--text-weight-headline-basis);
  margin: 0;
}

@media (--medium-up) {
  .container {
    min-height: initial;
  }

  button.submitButton {
    height: 60px;
    font-size: var(--font-size-large);
  }

  input.input {
    height: 60px;
    padding: 15px;
    font-size: var(--font-size-medium);
  }
}

@media (--large-up) {
  .header {
    font-size: var(--font-size-xx-large);
  }

  .toggleButtonWrapper {
    justify-content: left;

    & > button {
      margin: 0 0 1rem 1rem;
    }
  }
}

@media (max-height: 440px) {
  .container {
    min-height: 330px;
  }
}
