@import '@folio/stripes-components/lib/variables.css';

:root {
  --main-nav-min-height-desktop: 56px;
  --main-nav-min-height-mobile: 48px;
  --main-nav-border-bottom-color: #131313;
  --main-nav-background-color: #383838;
  --main-nav-text-color: #fff;
}

.navRoot {
  background-color: var(--main-nav-background-color);
  border-bottom: 1px solid var(--main-nav-border-bottom-color);
  color: var(--main-nav-text-color);
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  width: 100%;
  flex: 0 0 auto;
  padding: 0 var(--gutter-static-one-third);
  min-height: var(--main-nav-min-height-desktop);
  z-index: 99999;
  position: relative;
}

.nowrap {
  white-space: nowrap;
}

.skipLink {
  position: absolute;
  display: block;
  padding: 6px 4px 0;
  top: -100px;
  transition: top 0.15s linear;

  &:focus {
    position: relative;
    top: 0;
  }
}

@media (--medium-down) {
  .brandingLabel {
    display: none;
  }

  .navRoot {
    min-height: var(--main-nav-min-height-mobile);
  }
}
