@import '@folio/stripes-components/lib/variables.css';

.navRoot {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  width: 100%;
  border-bottom: 1px solid #ccc;
  flex: 0 0 auto;
  padding: 0 6px;
  background-color: #f7f7f7;
}

.nowrap {
  white-space: nowrap;
}

.ddButton,
.ddLink {
  width: 100%;
  display: block;
  text-align: left;
  background: transparent;
  border: none;
  appearance: none;
  padding: 4px 8px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  text-decoration: none;
  color: #333;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: #efefef;
    outline: none;
    color: #333;
    text-decoration: none;
  }
}

.ddTextItem {
  padding: 4px;
  display: block;
}

.ddDivider {
  border-bottom: 1px solid #cdcdcd;
  padding: 4px;
  margin-bottom: 4px;
}

.skipLink {
  position: absolute;
  display: block;
  padding: 6px 4px 0;
  top: -100px;
  transition: top 0.15s linear;

  &:focus {
    position: relative;
    top: 0;
  }
}

@media (--mediumDown) {
  .brandingLabel {
    display: none;
  }

  .smallAlignRight {
    position: absolute;
    top: 0;
    right: 0;
  }

  .ddButton {
    height: var(--controlHeightSmall);
  }

  .ddLink {
    height: var(--controlHeightSmall);
    display: flex;
    align-items: center;
  }
}
