@import '@folio/stripes-components/lib/variables.css';

.navButton {
  composes: interactionStylesControl from "@folio/stripes-components/lib/sharedStyles/interactionStyles.css";  /* stylelint-disable-line */
  padding: 0 5px;
  height: 44px;
  outline: 0;
  color: var(--color-text);

  &::-moz-focus-inner {
    border: 0;
  }

  /* Is selected */
  &.selected {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 5px;
      left: 5px;
      height: 4px;
      background-color: var(--primary);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

.navButton:not(:active).selected .icon svg {
  fill: var(--primary);
}

/* To make sure we overwrite default link colors */
a.navButton,
button.navButton {
  color: var(--color-text);
}

/* No active bar - primarily used for popover icons with no label */
.navButton.noSelectedBar::before {
  display: none;
}

.icon {
  height: 24px;
  margin: 0 4px;

  & img,
  & svg {
    height: 24px;
    width: 24px;
  }

  & svg {
    fill: var(--color-icon);
  }
}

.icon,
.label {
  position: relative;
  z-index: 2;
}

.navButton,
.inner {
  display: flex;
  align-items: center;
  position: relative;
}

.label {
  margin: 0 4px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.inner {
  padding: 4px 0;
  position: relative;
}

.isInteractable {
  composes: interactionStyles from "@folio/stripes-components/lib/sharedStyles/interactionStyles.css";  /* stylelint-disable-line */
}

/**
 * Badge
 */
.navButton .badge {
  font-size: 10px;
  position: absolute;
  top: 0;
  right: -1px;
  z-index: 5;
}
