@import '@folio/stripes-components/lib/variables.css';

.navButton {
  margin: 0 5px;
  height: 44px;
  color: rgba(0, 0, 0, 0.61);
  outline: 0;

  &::-moz-focus-inner {
    border: 0;
  }

  /* Is selected */
  &.selected {
    color: rgba(0, 0, 0, 1);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 4px;
      background-color: var(--primary);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    & .icon {
      opacity: 1;

      & svg {
        fill: var(--primary);
      }
    }
  }
}

/* No active bar - primarily used for popover icons with no label */
.navButton.noSelectedBar::before {
  display: none;
}

.icon {
  opacity: 0.75;
  height: 24px;
  margin: 0 4px;

  & img,
  & svg {
    height: 24px;
    width: 24px;
  }

  & svg {
    fill: #999;
  }
}

.icon,
.label {
  position: relative;
  z-index: 2;
}

.navButton,
.inner {
  display: flex;
  align-items: center;
  position: relative;
}

.label {
  margin: 0 4px;
  font-weight: 600;
}

.inner {
  padding: 4px 0;
  position: relative;
}

/**
 * Badge
 */
.navButton .badge {
  font-size: 10px;
  position: absolute;
  top: 0;
  right: -1px;
  z-index: 5;
}

/**
 * Interaction styles
 */

button.navButton .inner::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  border-radius: calc(var(--radius) * 1.2);
  z-index: 1;
}

button.navButton:hover .icon,
button.navButton:focus .icon {
  opacity: 1;
}

button.navButton:hover .inner::before {
  background-color: rgba(37, 118, 195, 0.2);
}

button.navButton:focus .inner::before {
  background: rgba(37, 118, 195, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);

  /* box-shadow: 0 0 0 3px rgba(37, 118, 195, 0.3); */
}

button.navButton:active .inner {
  color: rgb(255, 255, 255);

  & svg {
    fill: #fff;
  }
}

button.navButton:active .inner::before {
  background: rgb(37, 118, 195);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
