@import "@folio/stripes-components/lib/variables.css";

.ReleaseNotesLink {
  color: inherit;

  &:visited {
    color: inherit;
  }

  & span {
    color: var(--color-link);
    margin-left: 5px;
  };
}
